@import '../../styles/variables';

.#{$app-prefix}-menu-container {
  padding-left: $spacing-48;
  text-align: left;
}

.#{$app-prefix}-menu {
  &__title {
    margin: $spacing-12 0;
  }

  &__list {
    align-items: center;
    line-height: 30px;
  }
}
