@import '../../styles/variables';

.#{$app-prefix}-hero {
  position: relative;
  height: 500px;
  overflow: hidden;
  margin-bottom: $spacing-48;

  &__link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
}
