@import './variables';

* {
  box-sizing: border-box;
}

body {
  background-color: $body-bg;
  text-align: center;
  font-family: 'Proxima Nova', -apple-system, 'Helvetica Neue', Helvetica,
    Roboto, Arial, sans-serif, sans-serif;
}

.container {
  padding-top: 40px;
  margin: auto;
}

.pbt__col {
  background-color: pink;
  border: 1px solid red;
}
